/***** POST LAYOUT *****/

.post_grid{ 
    display :grid; 
    grid-template-areas: 
        "post_image  post_image_container         "
        "post_extra  post_text          "
        "  .         post_bottom_social ";
    grid-row-gap: 2vh; 
    grid-column-gap: 3vw; 
    grid-template-columns: 20vw 5fr;
}

.post_image_container{ 
    grid-area: post_image;
    min-width:  100vw;
    min-height: 100vh;
    object-fit: cover;
    background-size: cover;
}
 

.post_extra{ 
    grid-area: post_extra;
    width: 90%;
    height: 20vh;
    display: grid ; 
    grid-template-areas: 
        "post_extra_date"
        "post_extra_social";
    justify-content: center;
    align-items: center;
}

.post_extra_date{   
    grid-area: post_extra_date;
    color: rgb(143, 143, 143);
}

.post_extra_social{ 
    grid-area: post_extra_social;
    width: 90%;
    display:flex;
    justify-content: center;
    margin-bottom:2.9vh;
}
.post_extra_social_icon{ 
    height: 5vh;
}


.post_text{ 
    grid-area: post_text;
    width: 90%; 
    font-family: "TimeSS";
    display: grid; 
    grid-template-areas: 
        "title"
        "body";
    justify-content: center;
}

/***** POST TEXT STYLE SHEET *****/


/***** text title *****/ 


.title{ 
    font-family:"TimeSS"; 
     /* color: rgb(5,168,168);*/
     color: rgb(55,172,1); 
}
.post_title{ 
    grid-area: title;
    margin-top: 9px;
}


 /***** text body *****/ 

.post_body{ 
    grid-area: body;
    margin-top: 6px;
    margin-bottom: 22px;
}

.section{ 
    /* font-size: 22px;  */
    /* color: rgb(5,168,168); */
    color :  rgb(55,172,1);
    font-size: 2.3em;
}

.subsection{ 
    /* font-size: 18px; */
    /* color: rgb(5,168,168); */
    color:  rgb(55,172,1);
    font-size: 1.25em;
}

.paragraph{  
    display:block;
    margin-top: 6vh;
} 

.p_after__header2{ 
    margin-top: 8px;
}

.p_after__header3{ 
    margin-top: 7px;
}

.quote{  
    font-style : italic;
    color:rgb(58, 57, 57,0.7);
  border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 0.9vw;
  }



/***** POST TEXT STYLE SHEET END ******/ 



.post_bottom_social{ 
    /* width:calc(90% - 20vw);    */
    /* width: 90%;  */
    /* margin-top: 3vh; */
    margin-top: 4.5vh;
    grid-area: post_bottom_social; 
    height: 5vh; 
    justify-self: center;
    /* border-bottom: solid;
    border-color: rgb(205, 205, 205);
    border-width: 1px;
    padding: 0 100px; */
    padding-bottom:9px; 
 
    text-align: center; 
    margin-right: 7.65vw;
}


.post_social_icon{  
    cursor: pointer;
    height: 5vh;  
    padding: 0 5px;
}

#hyperlink{ 
    height: 4.65vh;  
}
.social_bottom_separator{ 
    padding: 50px 0;
    
}

.post_social_icon:hover{  
    filter : grayscale(0)  brightness(0) saturate(0) contrast(0);
}


@media only screen and (max-width:1100px){ 
    .post_grid{ 
        display :grid; 
        grid-template-areas: 
            "post_image_container  post_image_container         "
            "post_extra  post_extra           "
            ".  post_text"
            "  .         post_bottom_social ";
        grid-row-gap: 2vh; 
        grid-column-gap: 3vw; 
        grid-template-columns: 20vw 5fr;
    }

    .post_image_container{ 
        grid-area: post_image_container;
        width: 100%;
        height: 80%; 
        background-size: cover;
        background-position: center; 
    }
}


/* 
.circle-ripple {
    background-color: #35ffc3;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: ripple 1.5s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.3)
  
    }
    80% {
      box-shadow: 0 0 0 0.5em rgba($color, 0.3)
    }
    85% {
      box-shadow: 0 0 0 0.5em rgba($color, 0.2)
    }
     90% {
      box-shadow: 0 0 0 0.5em rgba($color, 0.1)
    }
     100% {
      box-shadow: 0 0 0 0.5em rgba($color, 0)
    }
  } */